.cml-base {
    text-align: left;
    font-size: 32px;
    letter-spacing: 1px;
    font-family: BlinkMacSystemFont, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.cml-base,
.cml-base::before,
.cml-base::after {
    box-sizing: border-box;
    text-size-adjust: none;
}
  


