.cml-base {
  text-align: left;
  font-size: 32px;
  flex-direction: column;
}

.cml-view {
  border: 0 solid black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.cml-text {
  box-sizing: border-box;
  border: 0 solid black;
  margin: 0;
  padding: 0;
}